header {
  background-color: aquamarine;
  padding: 20px 0;
}
header[dataTheme="dark"] {
  background-color: #00081f;
}
header[dataTheme="dark"] * {
  color: #fff;
}
.toogle{
  display: flex;
  align-items: center;
  gap: 4px;
}
