footer {
  background-color: var(--footer-bg);
  padding: 20px 0;
  width: var(--width-100);
}
footer[dataTheme='dark']{
  background-color: var(--footer-bg-dark)
}
footer[dataTheme='dark'] *{
  color: #fff;
}
