<main>
  <section>
    <div class="container">
      <h1>Логін</h1>
      <form [formGroup]="reactiveForm" (ngSubmit)="sumbitReactiveForm()" class="form d-grid gap-2">
        <div class="d-grid">
          <label>email</label><input formControlName="email" type="email" />
        </div>
        <div class="d-grid">
          <label>password</label><input formControlName="password" [type]="hide ? 'password' : 'text'" />
        </div>
        <div><button type="submit">Send</button></div>
      </form>
    </div>
  </section>
</main>
