<app-header
  [theme]="themeApp"
  (dataTheme)="changeThemeApp($event)"
></app-header>
<main class="main" [attr.dataTheme]="themeApp">
  <div class="container">
    <button (click)="counter = counter + 1">{{ counter }}</button>
    <button (click)="changeCounter($event)">{{ counter }}</button>

    <mat-tab-group>
      <mat-tab label="First">
        <app-comp1 [title]="titleComp1" [desc]="descComp1"></app-comp1>
      </mat-tab>
      <mat-tab label="Second">
        <app-comp1 [title]="titleComp2" [desc]="descComp2"></app-comp1>
      </mat-tab>
      <mat-tab label="Third">
        <app-comp1 [title]="titleComp3" [desc]="descComp3"></app-comp1>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>

<app-footer [themeFooter]="themeApp"></app-footer>

<router-outlet></router-outlet>
