<main>
  <section>
    <div class="container">
      <app-error></app-error>
      <div class="d-flex gap-2 mb-4">
        <h1>Сторінка з постами</h1>
        <div class="icon d-flex" *ngIf="isAuth" (click)="createPost()">
          <mat-icon class="mat-icon-rtl-mirror" fontIcon="post_add"></mat-icon>
        </div>

        <div class="icon d-flex" *ngIf="isAuth" (click)="getAuthorPosts()">
          <mat-icon class="mat-icon-rtl-mirror" fontIcon="face"></mat-icon>
        </div>

        <div class="icon d-flex" *ngIf="isFilter" (click)="cancelFilters()">
          <mat-icon class="mat-icon-rtl-mirror" fontIcon="cancel"></mat-icon>
        </div>
      </div>
      <div class="grid">
        <div *ngFor="let item of posts" class="item">
          <div class="icon d-flex" *ngIf="item.author.id === id" (click)="changePost(item.slug)">
            <mat-icon class="mat-icon-rtl-mirror" fontIcon="edit"></mat-icon>
          </div>
          <h3>Title: {{ item.title }}</h3>
          <p>Body: {{ item.body }}</p>
          <div class="d-flex gap-1">
            <p
              *ngFor="let tag of item.tagList"
              class="tag"
              (click)="getPostsByTag(tag)"
            >
              {{ tag }}
            </p>
          </div>
        </div>
      </div>
      <div>
        <h3>Кількість постів: {{ total }}</h3>
      </div>
    </div>
  </section>
</main>
