@import "./_var.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-tab:not(.mdc-tab--active) *{
  color: gray !important;
}
